#Top-bar {
    border-bottom-width: 0;
    padding-bottom: 0;
    background-color: #5F704E;
}
.navbar.fixed-top + .navbar.fixed-top {
    top: 56px; /* Ajusta esto según la altura del primer navbar */
}
#back-bar{
    background-color: #C6B79F;
}
main{
    background-color:#ECE4D2;
}
.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
