*{
    font-family: 'CustomFont';
}

h3,h5,h2,h1{
    font-family: 'CustomFont';
}

.accordion-item button.accordion-button:focus,
.accordion-item button.accordion-button:active {
  background-color: #F1F1F1;
  color:  #F1F1F1;
}

.accordion-item button.accordion-button[aria-expanded="true"] {
  background-color:#C4CCC1;
}

mat-grid-tile,mat-grid-list{
  background-color: #F1F1F1;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #C4CCC1;
}

