<mat-grid-list cols="2" rowHeight="2:1">
  <div class="shadow m-4">
    <p class="text-center display-4">¿Qué es el masaje?</p>
    <p class="text-center m-2 h4">
      Según la Rae es el proceso que consistente en presionar, frotar o golpear rítmicamente y con intensidad adecuada determinadas regiones del cuerpo,
      principalmente las masas musculares, con fines terapéuticos, deportivos, estéticos, etc.
    </p>
    <p class="text-center m-2 h4">
      El masaje ayuda a la movilización de los tejidos musculares y la fascia; ayuda al sistema nervioso a mejorar las actividades cognitivas y de aprendizaje,
      mejora la actividad metabólica y aumenta la producción de endorfinas generando efectos de analgesia y felicidad, disminuye la fatiga física y mental, ayuda con el manejo de la
      ansiedad produciendo tranquilidad; dando como resultados mejoras en el manejo del estrés.
    </p>
  </div>
  <br>
    <mat-grid-tile >
      <div class="accordion accordion-flush m-2" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
              ¿Qué es el masaje de relajación?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Es un tipo de masaje con movimientos rítmicos y delicados con maniobras superficiales en las que la intensidad de la presión es suave y el ritmo lento y reiterativo,
               es totalmente indoloro por lo cual los músculos se relajan.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿Qué es el masaje deportivo?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">El masaje deportivo es un método reconocido de eliminación de fatiga y prevención de lesiones. Su implementación en el deporte profesional se debe a las
              bondades en la recuperación física. Existen diferentes tipos, según el momento de aplicación y sus características, que en todo caso persiguen el estado óptimo del deportista. </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿Qué es el Drenaje Linfático Manual (DLM)?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Es la terapia que consiste en realizar sobre la piel un masaje de movimientos lentos, rítmicos, armónicos y muy suaves
              que estimulan el drenaje de la linfa ( masa líquida que contiene agua y proteínas, junto a otras células y elementos de deshecho). 
              Este tipo de masaje que pretende "desintoxicar" el cuerpo mediante la remoción de "bloqueos" del sistema linfático.</div>
          </div>
        </div>
      </div>
      </mat-grid-tile>
    <mat-grid-tile>
        <div id="carouselExampleCaptions" class="carousel slide m-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src='/assets/Background.png' class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-dark">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src='/assets/Background.png' class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-dark">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src='/assets/Background.png' class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text-dark">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1.4">
  <mat-grid-tile>
    <img src="/assets/Pindas.jpg" class="img-fluid m-4 rounded mx-auto d-block" alt="pindas">
    <p class="text-center h3 m-1 text-wrap">
      pindas son pequeños saquitos de tela hechas de tejidos naturales que se rellenan con hierbas aromáticas y medicinales y 
    aceites esenciales para tratar el cuerpo.
    a través de las pindas mejoramos dolencias físicas, pero también se logran beneficios a nivel emocional.
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <div id="square" class="square"></div>
  </mat-grid-tile>
</mat-grid-list>
