<div class="container-fluid Startcontent" style="background-color: #EFF1F3;">
  <div class="row justify-content-center">
    <div class="col-12 mb-2">
      <h1 class="text-center" style="font-size: 35px;">Inhala Profesionales en terapias manuales</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 mb-2">
        <video width="100%" autoplay muted [muted]="isMuted">
            <source src="assets/VideoLogo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-5 mb-2">
        <br>
        <br>
        <h2 class="text-center" style="font-size: 25px;">Quienes somos</h2>
        <p style="font-size: 20px;">
          Bienvenido a INHALA, donde el bienestar y la salud se encuentran en el corazón de todo lo que hacemos.
          Somos un equipo de masoterapeutas apasionados y comprometidos, nos dedicamos a ofrecer servicios de masaje a domicilio para
          brindarte la máxima comodidad y atención personalizada.
        </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 m-3">
        <h1 class="text-center">Estos son algunos de los servicios que te podemos ofrece en Inhala</h1>
    </div>
    <div class="col-4 mb-2" @Entrada>
      <mat-card class="example-card shadow mb-5 cards rounded text-center">
        <mat-card-header>
          <h2 class="text-center">Masaje deportivo</h2>
        </mat-card-header>
        <mat-card-content>
          <p>
            Es un método de eliminación de fatiga y prevención de lesiones. Su implementación en el deporte profesional
            se debe a las bondades en la recuperación física. Existen diferentes tipos,
            según el momento de aplicación y sus características, que persiguen el estado óptimo del deportista. 
          </p>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-4 mb-2">
        <mat-card class="example-card shadow mb-5 cards rounded text-center">
            <mat-card-header>
              <h2>Masaje relajante</h2>
            </mat-card-header>
            <mat-card-content>
                <p>
                  Es un tipo de masaje con movimientos delicados Y maniobras superficiales en las que la intensidad de la presión es suave
                  y el ritmo lento, es totalmente indoloro por lo cual los músculos se relajan.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4 mb-2" @Entrada2>
      <mat-card class="example-card shadow mb-5 cards rounded text-center">
        <mat-card-header>
          <h2 class="text-center">Masaje de Drenaje Linfático</h2>
        </mat-card-header>
        <mat-card-content>
          <p>
            Es la terapia que consiste en realizar sobre la piel un masaje de movimientos lentos muy suaves
            que estimulan el drenaje de la linfa (masa líquida que contiene agua y proteínas, junto a otras células y elementos de deshecho). 
            Este tipo de masaje que pretende "desintoxicar" el cuerpo mediante la remoción de "bloqueos" del sistema linfático.
          </p>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="container-fluid bg-image">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <br>
          <h1 class="display-4 mb-4 text-center textos">¡Descubre nuestros servicios!</h1>
          <p class="lead textos text-center mb-5">Explora nuestras opciones y encuentra lo que necesitas para tu bienestar.</p>
          <a mat-raised-button href="servicios">Servicios</a>
        </div>
      </div>
    </div>
    
  </div>
</div>

