<mat-horizontal-stepper class="Startcontent" linear #stepper>
  <!-- Paso 1: Selección de persona -->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Selecciona una persona</ng-template>
    <div class="row justify-content-center">
      <div class="col-12 d-flex flex-wrap justify-content-center">
        <div class="card m-3" style="width: 18rem;" *ngFor="let persona of datos">
          <img src="{{persona.Foto}}" class="card-img-top" alt="Imagen del prestador del servicio">
          <div class="card-body">
            <p class="card-title">Nombre: {{ persona.Nombre }} {{ persona.PrimerApellido }}</p>
            <p class="">Titulo Profesional: {{ persona.UltimoTituloProfesional }}</p>
            <p class="">Campo de Especialización: {{ persona.CampoDeProfundizacion }}</p>
            <button mat-button (click)="seleccionarPersona(persona)">Seleccionar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Siguiente</button>
    </div>
  </mat-step>

  <!-- Paso 2: Dirección -->
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Ingresa la dirección</ng-template>
    <div [formGroup]="secondFormGroup" class="text-center">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="formGroup">
            <p>Ingrese la direccion en la cual se realizara el domicilio</p>
            <mat-form-field>
              <input matInput placeholder="Dirección" formControlName="direccion">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="enviarFormulario()">Enviar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
