#TopFoother{
    background-color:#5F704E;
    min-height: 30%;
}
#BotFoother{
    background-color: #C6B79F;
}
h3{
    font-family: 'CustomFont';
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
