<mat-card class="rounded-0" id="TopFoother">
    <mat-card-content>
        <div class="col-12">
            <div class="row">
                <div class="col-6 align-self-center m-0">
                    <p class="fw-bolder fs-4 m-0">Recuerda seguirnos en nuestras redes sociales:</p>
                </div>
                <div class="row col-6 mt-2">
                    <div class="col-9 col-sm-6 col-md-6 col-lg-9"></div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 "><i class="fa-brands fa-whatsapp fa-2x"></i></div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 pe-1 ps-1"><i class="fa-brands fa-facebook fa-2x"></i></div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 "><i class="fa-brands fa-instagram fa-2x"></i></div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="rounded-0" id="BotFoother">
    <mat-card-content>
        <div class="col-12 m-0 p-0">
            <div class="row">
                <div class="row col-4 text-center">
                    <h3 class="m-0">Información empresarial</h3>
                    <p class="m-0">Misión</p>
                    <p class="m-0">Vision</p>
                </div>
                <div class="row col-4 text-center">
                    <h3 class="m-0">Información adicional</h3>
                    <p class="m-0">Trabaja con nosotros</p>
                    <p class="m-0">+57 3104525057</p>
                </div>
                <div class="row col-4 m-0 text-center">
                    <h3 class="m-0">Contactos</h3>
                    <p class="m-0 ellipsis" title="equilibrio.terapiasmanuales@gmail.com">equilibrio.terapiasmanuales@gmail.com</p>
                    <p class="m-0">calle 67 No 50-50 Simon bolivar Itagui</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

