#TopFoother{
    background-color: #C4CCC1;
    min-height: 30%;
}
#BotFoother{
    background-color: #DDDCD8;
}
h3{
    font-family: 'CustomFont';
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
