.imagenes{
    top: 50px; 
    width: 410px; 
    height: 120px;
    background-image: url("/assets/FOTO3.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #dee2e6;
    padding: 2px;
    z-index: 10;
}

.cards{
    border: 6px solid;
    border-color: #ebe4d2;
}

.example-card.hovered {
    transform: scale(1.1);
    transition: transform 0.1s ease;
  }
  
  